.cell.medium-6
    .blog-post
        .callout
            %h3 DEBUG
            %pre 
                = @result
.cell.medium-6
    .blog-post
        .callout
            %h3 Amazon response
            %pre 
                = @request
            